# Dependencies
node_modules/
npm-debug.log*

# Uploads & Temporary Scratch Files
uploads/*
!uploads/.gitkeep
scratch/

# System & OS Files
.DS_Store
Thumbs.db
*.log
*.pid
.pocket_trash/

# Environment & IDE
.env
.vscode/
.idea/

# Coverage
coverage/
